<!-- 
Autor: Petr Ondra
Date: 9.3.2021
Description: Root component
File Name: app.component.html
-->

<ng-container *ngIf="isConnected; else disconnected">
  <div class="min-h-screen flex flex-col">
    <!-- 🔝 Header -->
    <app-header></app-header>

    <!-- 🔁 Obsah (flex-grow = roztáhnout zbytek stránky) -->
    <main class="flex-1">
      <router-outlet></router-outlet>
    </main>

    <!-- 🔻 Footer -->
    <app-footer></app-footer>
  </div>
</ng-container>

<ng-template #disconnected>
  <app-connection-lost></app-connection-lost>
</ng-template>
