<!-- 
Autor: Petr Ondra
Date: 9.3.2021
Description: Registration page component
File Name: auth-registr.component.html
-->

<form (ngSubmit)="onSubmit()">
  <input [(ngModel)]="username" name="username" [placeholder]="'REGISTER.USERNAME' | translate" required>
  <input [(ngModel)]="password" name="password" [placeholder]="'REGISTER.PASSWORD' | translate" type="password" required>
  <button type="submit">{{ 'REGISTER.SUBMIT' | translate }}</button>
</form>

<!-- ✅ Úspěšná zpráva -->
<div *ngIf="message" style="color: green;">  
  {{ message }}
</div>

<!-- ❌ Chybová zpráva -->
<div *ngIf="errorMessage" style="color: red;">  
  {{ errorMessage }}
</div>
