<!-- 
Autor: Petr Ondra
Date: 9.3.2021
Description: Login page component
Finle Name: auth-login.component.html
-->
<form (ngSubmit)="onSubmit()">
  <input [(ngModel)]="username" name="username" [placeholder]="'LOGIN.USERNAME' | translate" required />
  <input [(ngModel)]="password" name="password" [placeholder]="'LOGIN.PASSWORD' | translate" type="password" required />
  <button type="submit">{{ 'LOGIN.SUBMIT' | translate }}</button>
</form>

<!-- ✅ Úspěšná zpráva -->
<div *ngIf="message" style="color: green;">
  {{ 'LOGIN.SUCCESS' | translate }}
</div>

<!-- ❌ Chybová zpráva -->
<div *ngIf="errorMessage" style="color: red;">
  {{ 'LOGIN.ERROR' | translate }}
</div>

